@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	height: 5px; /* height of horizontal scrollbar ← You're missing this */
	width: 5px; /* width of vertical scrollbar */
}
::-webkit-scrollbar-thumb {
	background: #9ca3af;
	-webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: none;
}

p, h1, h2, h3, h4, h5, h6 {
	cursor: default;
}

.btn-bottom-right {
	position: fixed;
	bottom: 4.2rem;
	right: 1rem;
}

@media (min-width: 768px) {
	.btn-bottom-right {
		bottom: 1rem;
	}
}

.break-word {
	word-break: break-word !important;
}

.rotate {
	animation: rotation 1s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

button {
	outline: none !important;
}
