@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	height: 3px; /* height of horizontal scrollbar ← You're missing this */
	width: 5px; /* width of vertical scrollbar */
}
::-webkit-scrollbar-thumb {
	background: #9ca3af;
	-webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: none;
}

.btn-bottom-right {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}

.break-word {
	word-break: break-word!important;
}
