<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#E2E8F0")
        block title
        link(rel="stylesheet" href="/dist/css/bundle.css")
        block links
    body.container.px-5.mx-auto.bg-blueGray-100.text-gray-700.font-sans
        //- input(type="hidden", name="current-page" value=)
        include ../components/navbar.pug
        
        
        .pb-24
            include ../components/messages.pug
            
            block content



        script(src="/dist/js/bundle.js")
        block scripts