.navbar.py-5
    .flex.justify-between.items-center.text-gray-500
        //- if namePage == 'pages.home'
        //-     h3.font-bold.text-3xl.text-gray-700 #{title}
        .relative
            button#hamburgerButton
                svg.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7')
            #hamburgerContainer.absolute.left-0.w-60.p-3.bg-white.border.rounded-lg.shadow.hidden.z-10
                div
                    .flex.items-center.space-x-2.py-2
                        img(src=`https://ui-avatars.com/api/?name=${user.name}`).bg-gray-600.rounded-full.w-10
                        p.text-gray-700.text-xl.truncate #{user.name}
                hr
                a(href="/").pt-3.pb-1.px-2.block.text-gray-700 Inicio
 
                form(action="/logout" method="post") 
                    button(type="submit").text-red-500.py-2.px-2.block.w-full.text-left Cerrar sesion
        .flex.space-x-5
            button#btnSearch
                svg.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')
            button
                svg.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4')
    div#containerSearch.hidden.mt-4.relative
        input#txt-search.w-full.border.border-gray-300.h-10.px-5.pr-10.rounded-full.text-sm(type='search' name='search-category' placeholder='Buscar mis categorias' class='focus:outline-none' required='')
        #results-search.hidden.absolute.bg-white.top-12.inset-x-0.p-4.w-full.z-50.rounded-lg.shadow-lg.space-y-4
            p.text-gray-400.text-sm.mb-1 Categorias
            .divide-y.rounded.bg-gray-50.rounded-lg.p-2
                a(href="/").flex.items-center.p-2.group
                    div(class="group-hover:bg-red-500").p-2.rounded-full.bg-red-400
                    p.ml-2 Hola mundo

                a(href="/").flex.items-center.p-2
                    .p-2.rounded-full.bg-green-400
                    p.ml-2 Hola mundo

                a(href="/").flex.items-center.p-2
                    .p-2.rounded-full.bg-yellow-400
                    p.ml-2 Hola mundo

            p.text-gray-400.text-sm.mt-3.mb-1 Tareas
            .divide-y.rounded.bg-gray-50.rounded-lg.p-2
                a(href="").flex.items-center.p-2
                    p.text-sm.mr-2 Nueva tarea
                    //- p.mx-1 |
                    p.p-1.rounded-full.bg-red-400
                    p.ml-1.text-xs.text-gray-400 Hola mundo

                a(href="").flex.items-center.p-2
                    p.text-sm.mr-2 Vieja tarea
                    //- p.mx-1 |
                    p.p-1.rounded-full.bg-blue-400
                    p.ml-1.text-xs.text-gray-400 Chao mundo

        




script.
    const btnHamburger = document.getElementById('hamburgerButton');
    const containerHamburger = document.getElementById('hamburgerContainer')
    const btnSearch = document.getElementById('btnSearch');
    const containerSearch = document.getElementById('containerSearch');

    btnHamburger.addEventListener('click', () => {
        containerSearch.classList.contains('hidden') ? null : containerSearch.classList.add('hidden');
        containerHamburger.classList.toggle('hidden');
    })
    containerHamburger.addEventListener('blur', () => {
        //- containerSearch.classList.contains('hidden') ? null : containerSearch.classList.add('hidden');
        //- containerHamburger.classList.toggle('hidden');
        console.log('BLUR')
    })
    btnSearch.addEventListener('click', () => {
        containerHamburger.classList.contains('hidden') ? null : containerHamburger.classList.add('hidden');
        containerSearch.classList.toggle('hidden');
        document.getElementById('txt-search').focus()
    })